* {
    margin: 0;
    padding: 0;
}

$content: (
    start: flex-start,
    center: center,
    end: flex-end,
    between: space-between,
    around: space-around
);

.minavbar {
    background-color: black;
    height:65px;
    width:100vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;

    ul {
        padding: 0;
        display: flex;
        margin: 0px 50px 0px 0px;

        li{
            width:100px;
            height:65px;
            list-style: none;
            
            a{
                text-decoration: none;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}


.logonavbar{
    height: 50px;
    width: auto;
}


.hover:hover{
    color:black;
    background-color: white;
}

// Tamaños: 390px, 480px, 600px, 768px y 1023px, 1024px, 1200px.

.seccion{
    border: 1px solid black;
    background-color: gray;
    width:100vw;
    height:844px;
}

p{
    max-width: 80vw;
    text-align: justify;
}


@each $width in 390px 480px 600px 768px 980px{
    @media (max-width:$width) {
        .minavbar{
            display: none;
        }
    }
}

@for $i from 1 to 12 {
    .g#{$i}{
        grid-area: g#{$i};
    }
}

@each $position in start center end between around{
    .jc-#{$position}{
    justify-content: map-get($content, $position);
    }
}

@each $position in start center end between around{
    .ai-#{$position}{
    align-items: map-get($content, $position);
    }
}

.fd-column{
    flex-direction: column;
}

.flex{
    display: flex;
}

.footer { 
    background-color: rgb(54, 54, 54);
    border: none;
        ul {
            margin: 50px;
        }
            li {
                list-style: none;
                    a {
                        color: black;
                    }
            }
}

.text-end{
    text-align: end;
}

h8{
    background-color: rgb(54, 54, 54);
    color: white;

}

.servicios {
    padding: 50px 200px 50px 200px;
    background-color: gray;
    height: 844px;
}

@each $width in 390px 480px 600px 768px 980px{
    @media (max-width:$width) {
        .servicios {
            padding: 50px 50px 50px 50px;
        }
    }
}

.contacto{
    padding: 50px;
}